<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKh6N7u_aIEQOpaBy6lImVUFg4BlAT2Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>343895746804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foundit.app</string>
	<key>PROJECT_ID</key>
	<string>foundit-a804f</string>
	<key>STORAGE_BUCKET</key>
	<string>foundit-a804f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343895746804:ios:2f6c518f96f6a58a3456a1</string>
</dict>
</plist>